@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
    background-color: #f2f2f2;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.box {
    background-color: white;
    display: inline-block;
    text-align: left;
    padding: 10px 20px;
    margin: 0 20px;
    box-shadow: 0px 3px 10px 3px rgb(224, 224, 224);
    border-radius: 5px;
    width: 700px;
}

.title {
    color: blue;
    font-size: 40px;
    margin-top: 30px;
    font-weight: 500;
}

.subtitle {
    font-size: 30px;
    margin-left: 2rem;
}

.box-list {
    display: inline-block;
    text-align: left;
}

.list {
    font-size: 25px;
    list-style-type: circle;
    margin-left: 4rem;
}

.github {
    font-size: 24px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 5px;
    transition: 0.25s;
}
a {
    text-decoration: none;
}

.github:hover {
    background-color: black;
    color: white;
    transition: 0.25s;
    transform: translate(0,-10px);
}

.github-img {
    width: 50px;
    background-color: white;
    border-radius: 100px;
    margin: 5px 10px;
}